@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<section id="references" class="references-section section-padding">
    <div class="container">
        <div class="row justify-content-center text-center mb-5">
            <div class="col-lg-8">
                <h2 class="section-title center" data-aos="fade-up">@Localizer["Referanslarımız"]</h2>
                <p class="section-subtitle" data-aos="fade-up" data-aos-delay="100">
                    @Localizer["Sektörün öncü kuruluşları risk yönetiminde GRİT teknolojisine güveniyor"]
                </p>
            </div>
        </div>

        <div class="references-wrapper">
            <div class="glass-container">
                <div class="row justify-content-center align-items-center g-5">

                    <div class="col-md-4 col-sm-6 text-center">
                        <div class="ref-item">
                            <div class="ref-glow"></div>
                            <img src="~/image/last-image/anadolusigorta.svg"
                                 alt="Anadolu Sigorta" class="ref-logo img-fluid">
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 text-center">
                        <div class="ref-item">
                            <div class="ref-glow"></div>
                            <img src="~/image/last-image/aksigorta.svg"
                                 alt="Aksigorta" class="ref-logo aksigorta-style img-fluid">
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 text-center">
                        <div class="ref-item">
                            <div class="ref-glow"></div>
                            <img src="~/image/last-image/atlassigorta.png" 
                                 alt="Atlas Mutuel Sigorta" class="ref-logo img-fluid" style="max-height: 50px;">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section id="partners" class="references-section section-padding">
    <div class="container">
        <div class="row justify-content-center text-center mb-5">
            <div class="col-lg-8">
                <h2 class="section-title center" data-aos="fade-up">@Localizer["Stratejik Çözüm Ortaklarımız"]</h2>
                <p class="section-subtitle" data-aos="fade-up" data-aos-delay="100">
                    </p>
            </div>
        </div>

        <div class="references-wrapper">
            <div class="glass-container">
                <div class="row justify-content-center align-items-center g-5">

                    <div class="col-md-4 col-sm-6 text-center">
                        <div class="ref-item">
                            <div class="ref-glow"></div>
                            <img src="~/image/last-image/mopisso.webp" 
                                 alt="Mapisso" class="ref-logo img-fluid" style="max-height: 50px;">
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 text-center">
                        <div class="ref-item">
                            <div class="ref-glow"></div>
                            <img src="~/image/Gemini_Generated_Image_5dam6u5dam6u5dam-removebg-preview.png"
                                 alt="Orenda Broker" class="ref-logo img-fluid">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>